@model StoreCore.Data.ApplicationUserClaim
@*@model StoreCore.ViewModels.UserClaimViewModel*@

@{
    ViewData["Title"] = "Detalhes reivindicações";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Detalhes da</h1>
<h4>Reivindicações</h4>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a asp-action="index">Voltar</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Admin">Painel</a></li>
    </ol>
</nav>

<div>

    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.LabelForModel("Usuário")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>*@
        <dt class="col-sm-2">
            @Html.LabelForModel("Tipo de reivindicação")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimType)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelForModel("Valor da reividicação")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
