@*@model IEnumerable<StoreCore.Data.ApplicationUserClaim>*@
@model  IEnumerable<StoreCore.ViewModels.UserClaimViewModel>

@{
    ViewData["Title"] = "Reivindicações";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Reivindicações</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="btn btn-primary btn-sm" asp-action="Create">Cadastrar</a></li>
    </ol>
</nav>

@if (TempData["MessageOk"] != null)
{
    <div class="alert alert-success">
        @TempData["MessageOk"]
    </div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.LabelForModel("Usuário")
            </th>
            <th>
                @Html.LabelForModel("Tipo de reivindicação")
            </th>
            <th>
                @Html.LabelForModel("Valor da reividicação")
            </th>
            <th>
                @Html.LabelForModel("Opções")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaimType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaimValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
